<%- include ('../../partials/header.ejs')%>
  <%- include ('../../partials/navbar.ejs')%>
    <div class="container">
      <hr>
      <h2>Categorias</h2>
      <hr>
      <a href="/admin/categories/new" class="btn btn-success">Criar nova Categoria</a><br><br>
      <table class="table text-center table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category=> { %>
            <tr>
              <td>
                <%= category.id%>
              </td>
              <td>
                <%= category.title%>
              </td>
              <td>
                <%= category.slug%>
              </td>
              <td class="d-flex justify-content-around">

                <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>

                <form action="/categories/delete" method="post" onsubmit="confirmaDelecao(event, this)">
                  <input type="hidden" name="id" value="<%= category.id%>">
                  <button class="btn btn-danger">Delete</button>
                </form>

              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
    <%- include ('../../partials/footer.ejs')%>

      <script>
        function confirmaDelecao(event, form) {
          event.preventDefault()
          let decision = confirm('Você quer deletar essa categoria ?')
          if (decision) {
            form.submit()
          }
        }
      </script>