<!-- Editar Cliente -->
<%- include ("../partials/header.ejs")%>
  <%- include ("../partials/navbar.ejs") %>
    <div class="container mt-4">
      <form action="/customer/update" method="post">
        <h4>Editar Cliente</h4>
        <div class="row">
          <!-- CLIENTE -->
          <div class="form-group col-lg-6">
            <div>
              <label for="cliente">Cliente:</label>
              <input type="text" value="<%= customer.customers %>" required name="cliente" class="form-control"
                id="cliente" placeholder="Adicione o nome">
            </div>
          </div>
          <!-- ENDEREÇO -->
          <div class="form-group col-lg-6">
            <div>
              <label for="endereco">Endereço:</label>
              <input type="text" value="<%= customer.address %>" required name="endereco" class="form-control"
                id="endereco" placeholder="Adicione o endereço">
            </div>
          </div>
          <!-- CPF -->
          <div class="form-group col-lg-3">
            <div class="">
              <label for="endereco">CPF:</label>
              <input type="text" value=" <%= customer.cpf %> " required name="cpf" class="form-control" id="cpf"
                placeholder="000.000.000 - 00">
            </div>
          </div>
          <!-- TELEFONE -->
          <div class="form-group col-lg-3">
            <label for="telefone">Telefone:</label>
            <input type="tel" value="<%= customer.telephone %>" required class="form-control" name="telefone"
              id="telefone" placeholder="(00)-0-0000-0000 ">
          </div>
          <!-- VENDEDOR -->
          <div class="form-group col-lg-3">
            <label for="vendedor">Vendedor:</label>
            <select class="form-control" required name="vendedor" id="vendedor">
              <option selected></option>
              <option>Caique</option>
              <option>Paulo Thiago</option>
              <option>Marcus Paulo</option>
              <option>Celio de Paula</option>
            </select>
          </div>
          <!-- FORMA PAGAMENTO -->
          <div class="form-group col-lg-3">
            <label for="formaPagamento">Forma Pagamento:</label>
            <select class="form-control" required name="formaPagamento" id="formaPagamento">
              <option selected></option>
              <option>Dinheiro</option>
              <option>Cartão Credito</option>
              <option>Cartão Debito</option>
              <option>Pix</option>
            </select>
          </div>
        </div>
        <div class="container mt-5 d-flex align-items-center justify-content-between p-0">
          <input type="hidden" name="id" value="<%= customer.id %>">
            <a href="/customer/list" class="btn btn-success btn-sm">Lista Clientes</a>
            <button id="botao" type="submit" class="btn btn-warning btn-sm text-white ml-auto mr-3">Editar Cliente</button>
        </div>
      </form>
    </div>
    </div>
    <%- include ("../partials/footer.ejs") %>