<%- include ('../../partials/header.ejs')%>
  <%- include ('../../partials/navbar.ejs')%>
    <div class="container">
      <hr>
      <h2>Artigos</h2>
      <hr>
      <a href="/admin/articles/new" class="btn btn-success">Criar novo Artigo</a><br><br>
      <table class="table text-center table-bordered">

        <thead>
          <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>Categoria Relacionada</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          <% articles.forEach(articles=> { %>
            <tr>
              <td>
                <%=articles.id %>
              </td>
              <td>
                <%=articles.title %>
              </td>
              <td>
                <%=articles.slug %>
              </td>
              <td>
                <%= articles.category.title%>
              </td>
              <td class="d-flex justify-content-around">

                <a href="/admin/articles/edit/<%=articles.id %>" class="btn btn-warning">Editar</a>

                <form action="/articles/delete" method="post" onsubmit="confirmaDelecao(event, this)">
                  <input type="hidden" name="id" value="<%= articles.id%>">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>

            <% }) %>
        </tbody>

      </table>
    </div>
    <%- include ('../../partials/footer.ejs')%>

      <script>
        function confirmaDelecao(event, form) {
          event.preventDefault()
          let decision = confirm('Você quer deletar essa Artigo ?')
          if (decision) {
            form.submit()
          }
        }
      </script>