<%- include ('../../partials/header.ejs')%>
  <%- include ('../../partials/navbar.ejs')%>
    <br>
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
          <form method="post" action="/articles/save">
            <input class="form-control" type="text" name="title" placeholder="Defina o titulo do Artigo"><br>
            <textarea name="body" class="form-control" placeholder="Escreva o artigo aqui!" id="article"></textarea><br>
            <label for="categories"><h4>Categorias</h4></label>
            <select name="category" class="form-control" id="categories">
              <% categories.forEach(category=> { %>
                <option value="<%= category.id%>">
                  <%= category.title%>
                </option>
                <%})%>

            </select><br>
            <button class="btn btn-success">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
    <%- include ('../../partials/footer.ejs')%>

      <!-- Configuração do editor de texto tiny -->
      <script src="/tinymce/tinymce.min.js"></script>
      <script>
        tinymce.init({
          selector: '#article',
          language: 'pt_BR',
          plugins: [
            'advlist autolink link image listis print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
          ]
        })
      </script>