<%- include ('../../partials/header.ejs')%>
  <%- include ('../../partials/navbar.ejs')%>
    <div class="container">
      <div class="container">
        <hr>
        <h2>Usuários</h2>
        <hr>
        <a href="/admin/users/create" class="btn btn-success">Criar novo Usuario</a><br><br>
        <table class="table text-center table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach( users=> { %>
              <tr>
                <th><%= users.id%></th>
                <th><%= users.email%></th>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include ('../../partials/footer.ejs')%>