<%- include ('../../partials/header.ejs') %>

  <%- include ('../../partials/navbar.ejs') %>

    <div class="container">
      <hr>
      <h2>Categorias</h2> <!-- LISTAGEM DAS CATEGORIAS -->
      <a class="btn btn-success" href="/admin/categories/new">Criar Nova Categoria</a>
      <hr>
      <table class="table table-bordered">

        <thead style="text-align: center;">
          <tr> <!-- linha -->
            <th>Id</th>
            <th>Titulo</th><!-- coluna -->
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>

        <% categories.forEach((category)=> {%>

          <tbody style="text-align: center;">
            <tr> <!-- linha -->
              <td>
                <%= category.id %>
              </td>
              <td>
                <%= category.title %>
              </td>
              <td>
                <%= category.slug %>
              </td>
              <th style="display: flex; justify-content: space-between;">

                <button class="btn btn-warning" id="botao">Editar</button>

                <form method="POST" action="/categories/delete" style="display: inline;">
                  <input type="hidden" name="id" value="<%= category.id%>">
                  <button class="btn btn-danger ">Delete</button>
                </form>

              </th>
            </tr>
          </tbody>

          <% })%>



      </table>
    </div>

    <%- include ('../../partials/footer.ejs')%>