<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuiaPerguntasRespostas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--     <h1>Guia Perguntas</h1>
    <hr>
    <h3>Vamos iniciar ?</h3>
    <h1>Meu nome e <%=name%> e minha linguagem de programação favorita e <%=lang%>
    </h1>

        <%=name%>
        <%=lang%>
        <%=empresa%>
        <%=resultado%>

        <% if (resultado) { %> // maneira de trabalhar com estruturas condicionais
        <p>Esta tudo ok !!!</p>
        <%}else { %>
        <p>Isso e uma mensagem de ERRO !!!</p>
        <%}%>


        <% produtos.forEach(function(item) { %>
        <hr>
        <%= item.nome %><br>
        <%= item.preço %>

        <% })%>

        <img src="/img/casa1.jpg" alt="Img"> -->
</body>

</html>